* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

header nav {
    padding: 13px 70px
}

button {
  text-transform: uppercase;  
}

nav.menu-container {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #212121;
    z-index: 2;
}
.menu {
    display: flex;
    justify-content: space-between;    
    margin-bottom: 0;

    list-style-type: none;
}

.menu .menu_link {
    color: white;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;   
    padding-left: 28px;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    top: 50px;
    background: rgba(0,0,0,.6);
    z-index: 1;
}

.subheader .subheader_logo {
    max-width: 100%;
    margin-top: 19px;
    display: block;
}

.subheader .subheader_official {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
}

.subheader .subheader_call {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 21px;
}

.subheader .subheader_phone {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    color: #FFFFFF;
}

.subheader .subheader_btn {
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border-width: 0;
    width: 172px;
    height: 46px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    margin-top: 21px;
}

.promo {
    min-height: 800px;
    background: url('../img/uber_bg.png') center center/cover no-repeat;
    padding: 150px 0 135px 0;
   
}

.promo .promo_header {
    font-weight: 900;
    font-size: 60px;
    color: #FFFFFF;
    line-height: 60px;
    text-align: center;
}

.promo .promo_subheader {
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
}

.promo .promo_descr {

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    
    text-align: center;   
    color: #FFFFFF;
}

.promo .promo_btn {
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border-width: 0;
    width: 172px;
    height: 46px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    margin-top: 21px;

    display: block;
    margin: 0 auto;
    margin-top: 120px;
}

section.reasons {
    min-height: 849px;
    padding: 20px 0 64px 0;
 }

 .reasons .reasons_header_advantages_container {
    width: 115px;
    height: 27px;
    background: #000000;
    margin: 0 auto ; 

    display: flex;
    justify-content: center;
    align-items: center;
 }

 .reasons .reasons_header_advantages {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    
    text-align: center;
    text-transform: uppercase;    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
 }

 .reasons .reasons_main_header {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;

    text-align: center;
    text-transform: uppercase;
    
    color: #222222;

    margin-top: 35px;
 }

 .reasons .reason_container {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 26px;
    margin-top:16px;
 }

 .reasons .reason_text_container {
     width: 370px;
 }
 
 .reasons .reason_icon_container {
    background: #1EACC7;
    width: 116px;
    min-width: 116px;
    height: 116px;
    border-radius: 100%;
    
    display: flex;

    justify-content: center;

    align-items: center;

    margin-right: 25px;
 }

 .reasons .reason_header {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    
    color: #1EACC7;
 } 
 
 .reasons .reason_text {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;  
    color: #202020;
 }